/*
REMOVA O 1º BLOCO DE CÓDIGO A BAIXO CASO VOCÊ NÃO TENHA OS DIREITOS DA FONTE BEAUFORT FOR LOL.
*/

/*
INÍCIO DO 1º BLOCO DE CÓDIGO:
*/
@font-face{
  font-family:BeaufortLoL;
  src:url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.eot?#iefix) format("embedded-opentype"),
      url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.woff) format("woff"),
      url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.ttf) format("truetype"),
      url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.svg#svgFontName) format("svg");
}
@font-face{
  font-family:BeaufortLoL;
  src:url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Bold.eot?#iefix) format("embedded-opentype"),
      url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Bold.woff) format("woff"),
      url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Bold.ttf) format("truetype"),
      url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Bold.svg#svgFontName) format("svg");
  font-weight:700;
}
@font-face{
  font-family:BeaufortLoL;
  src:url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Italic.eot?#iefix) format("embedded-opentype"),
      url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Italic.woff) format("woff"),
      url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Italic.ttf) format("truetype"),
      url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Italic.svg#svgFontName) format("svg");
  font-style:italic;
}
/*
FIM DO 1º BLOCO DE CÓDIGO;
*/

@import url('../font/Timeless-Normal/font.css');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'BeaufortLoL', 'Timeless', serif;
  background-color: #0a0e11;
  color: #f5f1ee;
}
header,
.header {
  line-height: 50px;
  width: 100%;
  background-color: #121212;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #262626;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  position: sticky;
  top: 0;
  font-family: 'BeaufortLoL', 'Timeless-Bold';
  font-weight: bold;
}
header *,
.header * {
  display: inline-block;
  vertical-align: top;
}
header .left,
.header .left {
  float: left;
  margin-left: 10px;
}
header .right,
.header .right {
  float: right;
  margin-right: 10px;
  line-height: 100%;
}
.clear {
  clear: both;
  display: inherit;
}
header .right a:not(.button-1),
.header .right a:not(.button-1) {
  border-right-style: solid;
  border-right-color: #262626;
  vertical-align: middle;
  line-height: 50px;
  border-right-width: 2px;
  padding-right: 20px;
  margin-right: 20px;
}
header .logo,
.header .logo {
  width: 40px;
  height: 50px;
}
header .logo img,
.header .logo img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
header nav,
header .nav,
.header nav,
.header .nav {

}
header nav ul,
header .nav ul,
.header nav ul,
.header .nav ul {
  list-style-type: none;
  display: inline-block;
  overflow-x: auto;
}
header a,
header a,
.header a,
.header a {
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  color: #c9aa71;
  transition: color 0.25s;
}
header a:hover,
header a:hover,
.header a:hover,
.header a:hover {
  color: #f1e6d0;
}
a {
  text-decoration: none;
}
.button-1 {
  border-style: solid;
  border-color: #bef6f5;
  border-width: 2px;
  background-image: linear-gradient(to bottom, #141b21, #14445c);
  color: #b2d9db;
  line-height: 32px;
  margin-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
}
.button-1:hover {
  border-color: #1bc9ca;
  background-image: linear-gradient(#252c32, #25556d);
  color: #c3eaec;
}
.hamburger-menu {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hamburger-menu * {
    width: 25px;
    height: 3px;
    background-color: #745520;
    margin: 4px 0;
    transition: 0.4s;
}
.hamburger-menu:hover * {
    background-color: #f1e6d0;
}
#hamburger {
  display: none;
}
#hamburger:checked ~ .left .hamburger-menu div:nth-child(3n+1) {
  -webkit-transform: rotate(-45deg) translate(-9px, 8px);
  transform: rotate(-45deg) translate(-9px, 8px);
}
#hamburger:checked ~ .left .hamburger-menu div:nth-child(3n+2) {
  opacity: 0;
}
#hamburger:checked ~ .left .hamburger-menu div:nth-child(3n+3) {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(45deg) translate(-8px, -7px);
}
main,
.main {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1150px - 40px);
  padding: 20px 10px;
  overflow: visible;
  color: #ffffff;
  font-size: 1em;
  background-image: url('../img/background.png');
  background-position: 100% 0px;
  background-size: contain;
  background-repeat: no-repeat;
}
main *,
.main * {
  vertical-align: top;
}
main a,
.main a {
  color: #81dafd;
}
img.img-header {
  max-width: 100%;
  text-align: center;
  margin-left: -15%;
}
.center {
  text-align: center;
}
ul.hint {
  text-transform: uppercase;
  list-style-type: none;
  margin-left: 15%;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 175%;
  font-size: 90%;
  color: #9f9a8b;
}
ul.hint li {
  background-image: url('https://ymfdt38237.i.lithium.com/html/assets/flash.svg');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 2.5px;
  padding-left: 25px;
}
.main-header,
.main-content {
  padding: 20px 0;
}
.main-content .search-bar {
  width: calc(100% / 3 * 2);
  position: relative;
}
.search-bar {
  display: inline-block;
}
.search-bar input[type=text] {
  float: right;
  width: calc(100% - 64px);
  height: 54px;
  padding-left: 64px;
}
.search-bar input[type=submit] {
  float: left;
  position: absolute;
  width: 54px;
  height: 54px;
  opacity: 0;
}
.main-content .tile-button {
  font-size: 20px;
  padding: 15px 30px;
  line-height: 54px;
  text-transform: uppercase;
}

/*
MOBILE
*/

@media screen and (max-width: 720px) {
  .only-pc {
    display: none;
  }
  header nav,
  header .nav,
  .header nav,
  .header .nav {
    position: absolute;
    left: -100vw;
    top: 50px;
    width: 80vw;
    height: calc(100vh - 52px);
    opacity: 0;
    background-color: #121212;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #262626;
    transition: all 1s;
  }
  header nav .nav-close,
  header .nav .nav-close,
  .header nav .nav-close,
  .header .nav .nav-close {
    position: absolute;
    left: 80vw;
    width: 20vw;
    height: calc(100vh - 52px);
    top: 0px;
  }
  #hamburger:checked ~ nav,
  #hamburger:checked ~ .nav {
    left: 0px;
    opacity: 1;
  }
  header nav ul,
  header .nav ul,
  .header nav ul,
  .header .nav ul {
    display: inherit;
    text-align: left;
    line-height: initial;
    overflow-x: hidden;
    overflow-y: auto;
    height: -webkit-fill-available;
    padding: 0 20px;
  }
  header nav ul li,
  header .nav ul li,
  .header nav ul li,
  .header .nav ul li {
    margin: 1em 0;
    font-size: 18px;
    display: inherit;
	overflow-x: auto;
  }
}
@media screen and (min-width: 721px) {
  .only-mobile {
    display: none;
  }
  header nav .nav-close,
  header .nav .nav-close,
  .header nav .nav-close,
  .header .nav .nav-close {
    display: none;
  }
}
